<!-- wrapper -->
		<div id="wrapper">

			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>
					</div>
				</header>
				<!-- /Top Nav -->

			</div>



			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
				
			</div>
			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
				
            <img class="img-fluid" src="<%= asset_path('AdobeStock_1.jpeg') %>" alt="img" />
			
		</figure>
		<h4 class="page-header mb-60 fs-20">
			<span>Commercial</span> 
		</h4>
		<p class="dropcap">Rocket elevators has been pleasing its commercial customers since we started our business back in 1976. Time and time again we prove our value in safely and speedily elevating and de-elevating (is that even a word? We're in the elevator business and even we don't know.) our customers wherever their meaty little fingers will take them. Our buttons are large and easy to read so whether you're like Buddy the elf from the hit movie 'Elf' and you want to light the board up like a christmas tree, or you're someone who is morbidly afraid of hitting the wrong button, and then pressing your correct button and inconveniencing someone temporarily as the elevator seems to stay open extra long on that first, incorrect floor(we coded that on purpose you know), our big buttons will satisfy. It was Americas 45th who highlighted the importance of having a big button. To quote; "I too have a"..."Button, but it is a much bigger and more powerful one than his, and my Button works!". Well we don't want to get into hot button politics, but let's just say that here at Rocket Elevators, <br><strong>our buttons always work. Always.</strong>
			 </p>
		<p>If we've convinced you, click here for a <%= link_to "Quote", home_quote_path%>, this page was designed for our sales team, but as our respected commercial clients, we believe you have what it takes to operate a responsive and stylish webpage. Check out our Excelium line of products. We never got a comment from Donny directly, but we know he would have chosen our Excelium line for all his gold and tacky hotels.</p>
		
               

		</div>