<div class="container">
    <div
               >
              <nav >
                <!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
                <ul id="topMain" >
                  <li >
                    <!-- HOME -->
                    <a id='home-nav' href="#home-navigation">
                      HOME
                    </a>
                  </li>
                  <li>
                    <!-- SERVICES -->
                    <a id='services-nav' href="#services-navigation">
                      SERVICES
                    </a>
                  </li>
                  <li>
                    <!-- PORTFOLIO -->
                    <a id='portfolio-nav' href="#portfolio-navigation">
                      PORTFOLIO
                    </a>
                  </li>
                  <li>
                    <!-- NEWS -->
                    <a id='news-nav' href="#news-navigation">
                      NEWS
                    </a>
                  </li>
                  <li>
                    <!-- CLIENTS -->
                    <a id='clients-nav' href="#clients-navigation">
                      CLIENTS
                    </a>
                  </li>
                  <li>
                    <!-- CONTACT -->
                    <a id='contact-nav' href="#contact-navigation">
                      CONTACT
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
</div>