<!-- wrapper -->
		<div id="wrapper">

			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>
					</div>
				</header>
				<!-- /Top Nav -->

			</div>



			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
				
			</div>
			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
				
		    <figure class="mb-20">
			<img class="img-fluid" src="<%= asset_path('AdobeStock_41696502.jpeg') %>" alt="img" />
			
		</figure>
		<h4 class="page-header mb-60 fs-20">
			<span>Residential</span> 
		</h4>
		<p class="dropcap">Rocket Elevators has been installing and maintaining residential elevators ever since the hit job in Commercial Elevators Weekly and we needed to pivot our business model to survive. In the end it turns out the magazine publisher was a majority stakeholder in a rival elevator company named Super Sonic Elevators. After the hit piece titled 'Rocket Elevators: Failure to Launch' hit the town, we were radioactive. That was until our CEO Patrick had the great idea to sell elevators to residential buildings. We weren't sure it would work. "Can elevators really handle being in such a residential setting?" we asked ourselves. Well, after many awards and years of safely and speedily elevating our customers since 1976, I think we've proved all we came to prove. All to say, come give us a shot, let us impress you with our fast (but not like too fast, yenno?) elevators, and our fast (like too fast, yenno?) installations.
		</p>
			<p>If you are curious about our pricing models you can head on over to our meticulously coded <%= link_to 'Quote Page', quotes_new_path %>, and get a sense for what we're all about here at Rocket Elevators. We know, we know, you're just a casual web browser, how are you to be expected to know how to use a complex and technical website? Well keep reading o frail one, here's what you gotta do. Step one: put your big boy/girl pants on. Step two: head on over to our quote page. Step three: select your building type (if you're coming from this page, then the answer is probably residential). Step four: customize your slick elevator setup! Step five: navigate over to our Contact Us section and give us a shout. Our customer service is second only to Super Sonic Elevators, lol just kidding. Second to none. Hope to hear from you soon. Love you. Muah.
			</p>
               

		</div>


