<h1>Pages#residential</h1>
<p>Find me in app/views/pages/residential.html.erb</p>
<%= link_to 'Home Page', root_path, class:"navbar-brand"%>
<%= link_to 'Quote Page', pages_quote_path, class:"navbar-brand"%>
